ion-content {
    --background: #f4f5f8;
  }
  
  form {
    max-width: 500px;
    margin: auto;
  }
  
  ion-button {
    margin-top: 20px;
  }
  
  ion-text {
    font-size: 0.8em;
    padding-left: 16px;
  }
  
  